In [16]:
# import libraries
import numpy as np
import pandas as pd


sales = pd.read_csv('sales.csv')

In [17]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           640840 non-null  int64
 1   store_ID             640840 non-null  int64
 2   day_of_week          640840 non-null  int64
 3   date                 640840 non-null  object
 4   nb_customers_on_day  640840 non-null  int64
 5   open                 640840 non-null  int64
 6   promotion            640840 non-null  int64
 7   state_holiday        640840 non-null  object
 8   school_holiday       640840 non-null  int64
 9   sales                640840 non-null  int64
dtypes: int64(8), object(2)
memory usage: 48.9+ MB

In [18]:
# Transform data from 'date'
from datetime import datetime

def date_to_ordinal(date):
    return datetime.strptime(date, '%Y-%m-%d').toordinal()

sales['date'] = sales['date'].apply(date_to_ordinal)

In [19]:
categorical_features = ['state_holiday']

for col in categorical_features:
    dummies = pd.get_dummies(sales[col], prefix=col)
    sales = pd.concat([sales, dummies], axis=1)
    sales.drop(col, axis=1, inplace=True)
    
sales.head()

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,school_holiday,sales,state_holiday_0,state_holiday_a,state_holiday_b,state_holiday_c
0,425390,366,4,734976,517,1,0,0,4422,1,0,0,0
1,291687,394,6,735699,694,1,0,0,8297,1,0,0,0
2,411278,807,4,735109,970,1,1,0,9729,1,0,0,0
3,664714,802,2,735016,473,1,1,0,6513,1,0,0,0
4,540835,726,4,735151,1068,1,1,0,10882,1,0,0,0

In [33]:
# Instantiating a LinearRegression Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Creating two arrays for the feature and target
y = sales['sales']
X = sales.drop('sales',  axis=1)


# Splitting the datasets into training and testing
from sklearn.model_selection import train_test_split
X_train, X_rem, y_train, y_rem = train_test_split(X, y, shuffle=True, train_size=0.8)

# Divide again to have a validation data set
X_test, X_val, y_test, y_val = train_test_split(X_rem, y_rem, train_size=0.5)

# Fitting our model
model.fit(X_train, y_train)

LinearRegression()

In [29]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410137 entries, 32380 to 312524
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           410137 non-null  int64
 1   store_ID             410137 non-null  int64
 2   day_of_week          410137 non-null  int64
 3   date                 410137 non-null  int64
 4   nb_customers_on_day  410137 non-null  int64
 5   open                 410137 non-null  int64
 6   promotion            410137 non-null  int64
 7   school_holiday       410137 non-null  int64
 8   state_holiday_0      410137 non-null  uint8
 9   state_holiday_a      410137 non-null  uint8
 10  state_holiday_b      410137 non-null  uint8
 11  state_holiday_c      410137 non-null  uint8
dtypes: int64(8), uint8(4)
memory usage: 29.7 MB

In [34]:
# Running Evaluation Metrics
from sklearn.metrics import mean_squared_error, r2_score
predictions = model.predict(X_test)

r2 = r2_score(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)

print('The r2 is: ', r2)
print('The rmse is: ', rmse)

The r2 is:  0.855361577974487
The rmse is:  1455.6834578598807

In [35]:
# Running Evaluation Metrics
from sklearn.metrics import mean_squared_error, r2_score
predictions = model.predict(X_val)

r2 = r2_score(y_val, predictions)
rmse = mean_squared_error(y_val, predictions, squared=False)

print('The r2 is: ', r2)
print('The rmse is: ', rmse)

The r2 is:  0.8554094439233453
The rmse is:  1479.5093577131315

In [32]:
print(model.coef_)
print(model.intercept_)

[-3.69488078e-06 -1.44545846e-01 -7.83018551e+01  4.16524346e-01
  6.03989842e+00  1.49566862e+03  1.28255907e+03  6.52508784e+01
  5.48235620e+02 -2.43151280e+02 -5.10811322e+02  2.05726983e+02]
-306207.96672657295